.authorize {
  display: flex;
  padding: 0 40px;
  padding-top: 180px;
  padding-bottom: 110px;
  justify-content: center;

  @media (max-width: 567px) {
    padding: 40px 0;
  }
  &__window {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 83px;

    @media (max-width: 567px) {
      gap: 40px;
    }
  }
  &__form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 42px;
    max-width: 400px;
    width: 100%;

    @media (max-width: 567px) {
      max-width: unset;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__login-btns {
    display: flex;
    align-items: center;
    gap: 16px;

    @media (max-width: 567px) {
      flex-direction: column;
      align-items: unset;
    }
  }
  &__login-btn {
    border: 1.2px solid var(--borderColor);
    border-radius: 6px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 13px 57px;

    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #060e1e;
    cursor: pointer;
    transition: background-color 0.4s ease;
    &:hover {
      background-color: lightgray;
    }
    @media (max-width: 567px) {
      justify-content: center;
    }
  }

  &__delimeter {
    display: flex;
    align-items: center;
    margin: 30px 0px 35px 0;
  }
  &__delimeter-line {
    background-color: #dadee9;
    flex: 1;
    height: 1px;
  }
  &__delimeter-text {
    font-weight: 500;
    font-size: 12px;
    color: #bec5cc;
    text-transform: uppercase;
    margin: 0 5px;
  }
  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 0;
    transition: ease all 0.4s;
    margin-bottom: 9px;
    &.active {
      gap: 22px;
    }
  }
  &__input {
    border: 1.2px solid var(--borderColor);
    border-radius: 6px;
    width: 100%;
    padding: 16px 12px;
    max-width: 400px;
    &.error {
      border: 1.2px solid red;
    }

    @media (max-width: 567px) {
      max-width: unset;
    }

    &::placeholder {
      font-weight: 400;
      font-size: 15px;
      line-height: 133%;
      color: var(--greyColor);
    }
  }
  &__hide-input {
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: ease all 0.4s;
    &.active {
      overflow: visible;
      opacity: 1;
      visibility: visible;
      height: 100%;
    }
  }
  &__link {
    text-align: right;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    text-align: right;
    color: var(--blueColor);
    &:hover {
      text-decoration: underline;
    }
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 31px;
    text-align: center;
    &--login {
      margin-top: -15px;
    }
  }
  &__bottom-info {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--secondaryTextColor);
    a {
      color: var(--blueColor);
      font-weight: 500;
    }
  }
  &__bottom-items {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  &__input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__field-wrapper {
    position: relative;
  }
  &__input-wrapper-title {
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0em;
    color: var(--secondaryTextColor);
  }
  &__show-password {
    background-color: unset;
    border: none;
    position: absolute;
    right: 9px;
    top: 50%;
    transform: translate(0%, -50%);
    cursor: pointer;
  }
}

.error-message {
  color: red;
  font-weight: 600;
  font-size: 12px;
  display: block;
  margin-left: 5px;
  margin-top: 5px;
}
